.h1-name {
    text-align: center;
    font-size: 50px;
}
.da-hoto {
    margin-bottom: 0;
}
.da-ciwo {
    display: inline-block;
    background-color: black;
    margin-right: 8px;
    vertical-align: top;
    margin-bottom: 30px;
}
.book-name {
    color: white;
    text-align: center;
}
.book-btn {
    margin-left: 95px;
    margin-bottom: 20px;
    background-color: red;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

.book-btn:hover {
    opacity: 0.8;
}

.book-btn:active {
    opacity: 0.3;
}